<h1>Today</h1>
#To make sure that your string "The date is" is separated you have to start the squid after.
#Date.today will return the date today with these specifications %A == The full weekday name // %B == The full month name // %d will give the day of the month // %Y will return the year with century
<p> The date is <%= Date.today.strftime("%A, %B %d, %Y") %></p>
